.header {
  grid-area: h;
  background-color: darkgoldenrod;
}

.header img {
  height: 50px;
}

.link {
  display: flex;
  padding-top: 10px;
  float: right;
  padding-right: 50px;
}

.link a {
  color: white;
  text-decoration: none;
}

.btn {
  margin-left: 10px;
}

.login {
  color: white;
}
