.sidebar {
    grid-area: s;
    background-color: darkseagreen;
    padding: 10px;

}

.style a {
    text-decoration: none;
    color: white;

}

.style a.active {
    color: blue;
    font-size: 20px;
}