.container {
    margin: 0 auto;
    width: 1200px;
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        'h h '
        's content';
    gap: 10px 10px;
}

.content {
    grid-area: content;
    background-color: green;
}